<footer>

    <div class="section__container footer__bars">
        <h4>AutoRent   </h4>  
        <span style="font-size:0.9rem; margin-left:15px;"><a href="">Mentions légales </a> | <a href="">Politique de cookies</a>  </span>
        <p>Copyright © 2024 - Tous droits réservés.</p>
        <ul class="footer__socials">
            <li>
                <a href="#"><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-google-fill"></i></a>
            </li>
        </ul>
    </div>
</footer>

<style>

.footer__bars {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  border-top: 1px solid var(--text-light);
}

.footer__bars a {
color: black;
}



@media (max-width: 880px) {

.footer__bars {
  flex-direction: column;
}
  
}


</style>