<footer>

    <div class="section__container footer__bars">
        <img src="{{ asset('assets/images/logoautorent.png') }}" style="width: 12%;" alt="logo" />  
        <span style="font-size:0.9rem; margin-left:15px;"><a href="">Mentions légales </a> | <a href="">Politique de cookies</a>  </span>
        <p>Copyright © 2024 - Tous droits réservés.</p>
        <ul class="footer__socials">
            <li>
                <a href="#"><i class="ri-facebook-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-twitter-fill"></i></a>
            </li>
            <li>
                <a href="#"><i class="ri-google-fill"></i></a>
            </li>
        </ul>
    </div>
</footer>
