{% extends 'base.html.twig' %}

{% block title %} AutoRent | Politique de Cookies {% endblock %}

{% block body %}

{% include '_partials/header.html.twig' %}

<section class="section__container" id="cookies">
		<br>
		<br>
    <h2 class="section__header">Politique de Cookies</h2>
    <div class="content">
    		<br>
		<br>
        <p>
            Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site. Un cookie est un petit fichier texte déposé sur votre terminal lors de la visite d'un site ou de la consultation d'une publicité. Ils permettent de conserver vos données utilisateur pour vous éviter de les ressaisir à chaque visite.
        </p>
		<br>
		<br>
        <p><strong>1. Types de cookies que nous utilisons :</strong></p>
        		<br>
		<br>
        <p><strong>Cookies essentiels :</strong> Ces cookies sont nécessaires pour garantir le bon fonctionnement de notre site. Sans eux, il vous serait impossible d'utiliser nos services.</p>
        <p><strong>Cookies de performance :</strong> Ces cookies collectent des informations sur la façon dont les utilisateurs interagissent avec notre site, comme les pages les plus visitées.</p>
        <p><strong>Cookies de personnalisation :</strong> Ils nous permettent de vous proposer des contenus personnalisés en fonction de vos préférences.</p>
		<br>
		<br>
        <p><strong>2. Comment gérer vos cookies :</strong></p>
        		<br>
		<br>
        <p>Vous pouvez à tout moment choisir de désactiver ces cookies via les paramètres de votre navigateur. Cependant, cela pourrait impacter votre expérience utilisateur en désactivant certaines fonctionnalités de notre site.</p>
        
        <p>Pour plus d'informations sur la gestion des cookies, vous pouvez consulter les guides disponibles pour chaque navigateur :</p>
        <br>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647" target="_blank">Google Chrome</a></li>
            <li><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies" target="_blank">Mozilla Firefox</a></li>
            <li><a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank">Apple Safari</a></li>
            <li><a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a></li>
        </ul>
    </div>
</section>

{% include '_partials/footer.html.twig' %}

{% endblock %}
