.availability-text {
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: -100; /* Ajustez selon votre préférence */
}

.availability-text::after {
    content: "";
    display: block;
    width: 100%; /* Le trait couvrira toute la largeur du parent */
    height: 0.2px; /* Ajustez l'épaisseur du trait selon votre préférence */
    background-color: #c7c7c7; /* Utilisez la couleur primaire ou une autre couleur de votre choix */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
}

/* Styles pour le bouton Sélectionner */
.select-btn {
    padding: 0.85rem 1.8rem;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    margin-top: 1rem; /* Ajout d'un peu d'espace au-dessus du bouton */
}

.select-btn:hover {
    background-color: #3c4286; /* Couleur plus sombre au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}


.small-text{
    font-size: 0.8rem;
    color: #919191;
    margin-bottom: 10px;
}

.price-text{
    font-size: 1.7rem;
    color: #4b4b4b;
}

@media (max-width: 768px) {
    .cars__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cars__details {
        margin-left: 0;
        margin-top: 1rem;
    }

    .cars__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 1rem;
        width: 100%;
    }

    .cars__list {
        margin:  0;
    }

    .cars__item {
  
        padding: 0;
        margin-bottom: 0;
     
    }

    .select-btn {
        width: 100%;
        text-align: center;
    }
}


/* Styles pour la barre de navigation fixe */


.available-cars-page  #header::before {
    content: "";
    top: 0;
    left: 0;
  }

/* Styles pour la liste des voitures */
.cars__list {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.cars__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.2px solid #c7c7c7;
}

.cars__image img {
    width: 180px;
    border-radius: 8px;
}

.cars__details {
    flex: 1;
    margin-left: 1rem;
}

.cars__details h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
}

.cars__details p {
    color: var(--text-light);
    margin-right: 20px;
}

.cars__price {
    font-size: 1.25rem;
    font-weight: 700;

}

.cars__details p.isElec {
    background-color: #3c4286;
    border-radius: 15px;
    color: white;
    padding: 0.5rem;
    display: inline-block;
}


/* Media query pour ajuster la mise en page sur les écrans plus petits */
@media (max-width: 768px) {
    .cars__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cars__details {
        margin-left: 0;
        margin-top: 1rem;
    }

    .cars__price {
        margin-top: 1rem;
    }

    .cars__image img {
        width: 250px;
        border-radius: 8px;
    }
}


/* cars recommandées */

/* Styles pour les voitures recommandées */
.recommended-cars {

    margin-top: 2rem ;
    /* background-color: #f0f0f0;
    padding: 1rem;
    position: relative; */
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 33.33%;
    box-sizing: border-box;
    flex: 1 0 33.33%; /* Change this value to adjust number of visible items */
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffd8d1;
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

.card {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid #eee;
    margin: 0 0.5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-header i {
   font-size: 2rem;
   color:#7c7c7c; ;
}

.card-body {
    display: flex;
}

.card-body__left img {
    width: 100%;
    border-radius: 5px;
}

.card-body__right {
    padding-left: 1rem;
}

.card-body__right .price-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.card-body__right .select-btn {
    margin-top: 1rem;
}

.info-icon {
    cursor: pointer;
}

/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 0.5rem;
}

/* Responsive styles */
@media (max-width: 970px) {
    .carousel-item {
        flex: 1 0 50%;
    }
}
@media (max-width: 600px) {
    .carousel-item {
        flex: 1 0 100%;
    }
}


/* MODAL BODY */

/* Styles pour l'image du modal */
.modal-body img {
    width: 40%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* Styles pour les boîtes rectangulaires */


.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-bottom: 0.5rem;
}





.prices {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.prices p:first-child {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
.prices p:last-child {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fe5b3e;
}




/* MODAL SELECT */

.info-similaire{
    border: 1px solid grey;
    padding: 3px;
    border-radius: 20px;
}

.info-similaire .tooltip {
    visibility: hidden;
    width: 280px;
    background-color: rgb(244, 244, 244);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 199999;
    bottom: 100%;
    left: 95%;
    margin-left: -140px; /* Use half of the width set above to align it */
    opacity: 0;
    transition: opacity 0.3s;
}

.info-similaire .info-icon:hover + .tooltip {
    visibility: visible;
    opacity: 1;
}
.info-similaire {
    position: relative;
}

.info-similaire .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(244, 244, 244) transparent transparent transparent;
}

.info-similaire .info-icon:hover + .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s; /* Delay the appearance of the tooltip */
}

.close-selectionner {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 14px;
    font-size: 30px;
    font-weight: bold;
    color: #333; /* Or any color that fits the modal's design */
}

/* Optional: Change color on hover for better user interaction */
.close-selectionner:hover {
    color: red;
}


.car-details {
    border-radius: 10px;
    flex: 2;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
 
}

/* Responsive styles */
@media (max-width: 1140px) {
    .content {
    flex-direction: column;
    }
    .car-details {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;
     
    }
    
}

@media (max-width: 795px) {
    .options {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
      
    }
    
}
@media (max-width: 695px) {

    .car-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
     
    }
}


.car-details h1 {
 font-size: 2rem;
}

.car-details img {
    width: 100%;
    max-width: 200px;
}
.car-details p:first-child {
color: red;
}

.options {
    flex: 2;
    display: flex;
    gap: 10px;
 
}

.option {
    padding: 20px;
    border: 1px solid #ccc;
    flex: 1;
    border-radius: 10px;
}
.option p {
color: #858585;
font-size: 0.9rem;
}


.option.online {
    border-radius: 10px;
background-color: #f7f7f7;
    border-color: #ccc;
}

.option h3 {
    color: #333;
}

.option span {
    border: 1px solid red;
    color: red;
    padding: 2px 5px;
    font-size: 14px;
    padding: 0.3rem;
    border-radius: 20px;
    font-weight: 600;
}

.price {
    font-size: 25px;
    color: #555;
    margin: 10px 0;
    font-weight: 600;
}

.total {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.options .option:last-child button {
    width: 100%;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fe5b3e;
    color: white;
    font-size: 1.2rem;
    height: 45px;
    border: none;
    cursor: pointer;
}
.options .option:last-child button:hover {
    background-color: #474fa0;
}
.options .option:first-child button {
    width: 100%;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    color: #474fa0;
    font-size: 1.2rem;
    height: 45px;
    border: none;
    cursor: pointer;
    border:1px solid #474fa0;
}
.options .option:first-child button:hover {
    border:2px solid #474fa0;
}
