{% extends 'base.html.twig' %}

{% block title %}Connexion compte personnel
{% endblock %}

{% block body %}

	{% include '_partials/header_connected.html.twig' %}

	<div class="section__container" id="available-cars">

		<h1 style="margin-top:80px;">Confirmez votre réservation</h1>

		<div class="reservation-form">
			<section class="summary">
				<h1 style="margin: 25px 0;">Résumé</h1>
				<div style="display: flex; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid #dfdfdf;">
					<h2>Total</h2>
					<h2>144.5€</h2>
				</div>

				<div style="display: flex; justify-content:flex-start; align-items: center; gap: 25px; ">
					<img style="width: 25%;" src="{{asset('images/bmw_3_series.jpg')}}" alt="Car Image">
					<h2>PEUGEOT 208
						<br>
						OU SIMILAIRE ECONOMIQUE
					</h2>

				</div>


			<ul style="list-style: none;padding: 0;margin-bottom: 1rem;">
			
					<li style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 1rem;}" >
					
						<div class="cars__details">

							<div class="cars__details1">
								<p>
									<i class="ri-calendar-line"></i>
									2022</p>
								<p>
									<i class="ri-palette-line"></i>
									Bleu</p>
								<p>
									<i class="ri-car-line"></i>
									BT-231-LO</p>

								<p style="display:flex; justify-content: start; align-items:center; ">
									<img src="{{ asset('images/car.png') }}" alt="moteur" style="width: 0.9em; height: 0.9em; margin-right: 10px;">
									5 portes
								</p>
								<p>
									<i class="ri-user-line"></i>
									5
									personnes</p>
							</div>
							<div class="cars__details1">
								{# {% if car.isAirconditionner %} #}
									<p>
										<i class="fa-solid fa-snowflake"></i>
										Climatisation</p>
								{# {% endif %} #}


								<p style="display:flex; justify-content: start; align-items:center; "><img src="{{ asset('images/gear.png') }}" alt="moteur" style="width: 1em; height: 1em; margin-right: 10px;
										">
									Manuelle</p>

								<p style="display:flex; justify-content: start; align-items:center; "><img src="{{ asset('images/engine.png') }}" alt="moteur" style="width: 1.3em; height: 1.3em; margin-right: 10px;
										">
									150
									CV</p>

								<p>
									<i class="ri-cloud-line"></i>
									CO2:
									132
									g/km</p>

								{# {% if car.isElectric %} #}
									<p class="isElec">
										<i style="color:#fff;" class="ri-flashlight-line"></i>
										Électrique</p>
								{# {% endif %} #}

							</div>

						</div>

					
					</li>

	
			</ul>

				<div style="margin: 25px 0; display: flex; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid #dfdfdf;">
					<h2>Tarif de base pour 3 jours</h2>
					<h2>144.5€</h2>
				</div>

				<section style="margin: 20px 0;">
					<div style="width:100%;  background: #f7f7f7;padding: 20px 10px; border-radius:10px 10px 0 0;border-bottom: 1px solid #dfdfdf;">
						<p style="font-weight:bold;">Départ
						</p>
						<p style="font-weight:bold;font-size: 1.2rem;">Paris Le Bourget Aeroport
						</p>
						<p>2024-07-29 - 10:15
						</p>

					</div>

					<div style="width:100%;  background: #f7f7f7;padding: 20px 10px; border-radius:0 0 10px 10px;">
						<p style="font-weight:bold;">Retour
						</p>
						<p style="font-weight:bold;font-size: 1.2rem;">Paris Le Bourget Aeroport
						</p>
						<p>2024-07-29 - 10:15
						</p>

					</div>


				</section>

				<div style=" margin: 25px 0; display: flex; justify-content: space-between; padding-bottom: 10px; border-bottom: 1px solid #dfdfdf;">
					<h2>Protections & Options</h2>
					<h2>99.99€</h2>
				</div>

				<h3 style="margin-top:20px;">Medium</h3>

				<div style="display: flex; justify-content: space-between; padding-bottom: 10px;">
					<p>Pour 3 jours</p>
					<p>41,70 €</p>
				</div>

				<h3 style="margin-top:20px;">Assistance Plus</h3>

				<div style="display: flex; justify-content: space-between; padding-bottom: 10px;">
					<p>Pour 3 jours</p>
					<p>45,39 €</p>
				</div>

				<div style=" margin: 20px 0; display: flex; justify-content: space-between; padding-bottom: 10px; border-top: 1px solid #dfdfdf;">
					<h2 style="margin-top: 20px;">Total:</h2>
					<h2 style="margin-top: 20px;">399.99€</h2>
				</div>

				<div class="accordion-item">
					<div class="accordion-title" onclick="toggleAccordion(this)">
						<p style="font-weight:bold;">Dépôt de garantie</p>
						<i style="font-size:1.2rem;" class="ri-arrow-down-s-line"></i>
					</div>
					<div class="accordion-content">
						<p>Le montant sera préautorisé sur votre carte de crédit au moment de la prise en charge de la location, mais non débité de votre compte. Ce montant sera bloqué sur votre carte de crédit au moment du départ, ou en cas d'enregistrement en ligne, il sera bloqué dans les 48 heures avant la prise en charge. Le dépôt sera utilisé pour les frais supplémentaires (par exemple, le carburant manquant au retour, un jour supplémentaire, un kilométrage supplémentaire, un aller simple, etc.). Si vous avez besoin de plus d'informations sur l'heure de libération du dépôt et le montant du dépôt, veuillez nous contacter.
						</p>
					</div>
				</div>

				<div class="accordion-item">
					<div class="accordion-title" onclick="toggleAccordion(this)">
						<p style="font-weight:bold;">Politique de carburant</p>
						<i style="font-size:1.2rem;" class="ri-arrow-down-s-line"></i>
					</div>
					<div class="accordion-content">
						<p>Restituez le véhicule avec la même quantité de carburant ou utiliser notre service de ravitaillement (prix communiqué à la prise en charge).</p>
					</div>
				</div>

				<div class="accordion-item">
					<div class="accordion-title" onclick="toggleAccordion(this)">
						<p style="font-weight:bold;">Politique de modification, d'annulation et de remboursement</p>
						<i style="font-size:1.2rem;" style="font-size:1.2rem;" class="ri-arrow-down-s-line"></i>
					</div>
					<div class="accordion-content">
						<p>
							<i class="ri-arrow-right-s-fill"></i>Les modifications de votre réservation sont gratuites jusqu'au début de la journée de location (mais un nouveau prix de location peut être appliqué).

							<br><i class="ri-arrow-right-s-fill"></i>Si vous annulez votre réservation, des frais de 50 EUR, ou le prix total de la location si la valeur est inférieure, vous seront facturés.

							<br><i class="ri-arrow-right-s-fill"></i>Si vous ne récupérez pas le véhicule en temps voulu et que vous n'avez pas annulé, des frais de 95 EUR / GBP 102 / AUD 176/ NZD 184/ 700 DKK (selon la devise locale), ou le prix total de la location si la valeur est inférieure, vous seront facturés.</p>
					</div>
				</div>

				<div style=" display:flex; margin-top:20px;">
					<input type="checkbox" id="privacy-policy">
					<label style="margin-left:10px;" for="privacy-policy">J'ai lu, compris et j'accepte la Politique de confidentialité d'Autorent</label>
				</div>

				<div style=" display:flex; margin:20px 0 35px 0;">
					<input type="checkbox" id="terms-conditions">
					<label style="margin-left:10px;" for="terms-conditions">Je reconnais avoir lu, compris et accepté les Conditions générales d'Autorent</label>
				</div>

				<button type="button">Réserver maintenant</button>

				<p style="margin:20px 0; font-size:0.8rem;  ">
					Vos données personnelles sont traitées par AutoRent, situé au 00 boulevard Berthier, 75017, Paris, France ("nous"), en tant que responsable du traitement, pour gérer votre réservation et votre contrat de location. Ces données peuvent également être utilisées pour gérer les impayés et les amendes lors de l'utilisation de nos véhicules.

					<br>Vous avez le droit de vous désinscrire des communications marketing en utilisant le lien de désinscription inclus.

					<br>En cas de transfert des données hors de l'UE, AutoRent applique des mesures de protection conformes aux exigences légales.

					<br>Pour exercer vos droits d'accès, de rectification, d'opposition, de portabilité, d'effacement, et de limitation, contactez dpo@autorent.com. Pour plus d'informations sur notre traitement de vos données et vos droits, consultez notre Politique de confidentialité.
				</p>

			</section>

			<aside class="information">
				<h2>Informations conducteur</h2>
				<p>Prénom: John</p>
				<p>Nom: DOE</p>
				<p>Email:</p>
				<p>Téléphone:</p>
				<p>Adresse:</p>
			</aside>
		</div>

	</div>


	<style>

		.accordion-item {
			margin: 10px 0;
		}
		.reservation-form {
			display: grid;
			grid-template-columns: 65% 35%; /* Allocates 65% for information and 35% for summary */
			gap: 20px; /* Space between the two columns */
			margin: 40px auto; /* Center the form on the page with some margin at the top */
			background: white;

		}

		.information,
		.summary {
			padding: 20px;
			border-radius: 5px;
		}

		.information {
			background: #f7f7f7;
		}

		.summary {
			background: white;
			border: 2px solid #dfdfdf;
		}

		button {
			background-color: #fe5b3e;
			color: white;
			border: none;
			border-radius: 10px;
			padding: 15px 20px;
			font-size: 1.1rem;
			cursor: pointer;
			display: block; /* Makes the button a block element, filling the width */
			width: 100%;
		}

		button:hover {
			opacity: 0.9;
		}

		.summary img {
			width: 100%; /* Ensures the image is responsive and fills the container */
			height: auto;
			margin-top: 20px;
		}

		p {
			margin-top: 10px;
			line-height: 1.6;
		}

		.accordion-content {
			display: none;
			padding: 10px;

		}

		.accordion-title p {
			display: inline;
			cursor: pointer;
		}
		.accordion-title i {

			cursor: pointer;
		}

		/* Style de base pour la case à cocher */
		input[type="checkbox"] {
			appearance: none; /* Désactive le style par défaut */
			-webkit-appearance: none; /* Désactive le style par défaut pour Chrome et Safari */
			-moz-appearance: none; /* Désactive le style par défaut pour Firefox */
			background-color: #f0f0f0; /* Couleur de fond initiale */
			border: 1px solid #d1d1d1; /* Couleur des bordures */
			border-radius: 5px;
			padding: 10px; /* Taille de la case à cocher */
			position: relative; /* Nécessaire pour positionner le pseudo-élément ::after */
			cursor: pointer; /* Curseur en forme de pointeur pour indiquer qu'il s'agit d'un élément cliquable */
			width: 20px; /* Largeur de la case */
			height: 20px; /* Hauteur de la case */
			display: inline-block; /* Permet de mieux contrôler la mise en page */
		}

		/* Style lorsque la case à cocher est cochée */
		input[type="checkbox"]:checked {
			background-color: #fe5b3e; /* Change la couleur de fond lorsque la case est cochée */
			border-color: #fe5b3e; /* Change la couleur des bordures lorsque la case est cochée */
		}

		/* Ajout de l'icône "check" */
		input[type="checkbox"]:checked::after {
			content: "✓"; /* Le contenu, ici un symbole de coche */
			color: white; /* Couleur du symbole de coche */
			position: absolute; /* Position absolue par rapport à la case */
			top: 1px; /* Centrage vertical */
			left: 4px; /* Centrage horizontal */
			font-size: 15px; /* Taille de l'icône */
		}

		/* Style pour le focus (utile pour l'accessibilité) */
		input[type="checkbox"]:focus {
			outline: none; /* Retire le contour par défaut */
			box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4); /* Ajoute un halo bleu pour indiquer le focus */
		}
	</style>
	<script>
		function toggleAccordion(element) {
const icon = element.querySelector('i');
const content = element.nextElementSibling;
if (content.style.display === "block") {
content.style.display = "none";
icon.className = 'ri-arrow-down-s-line';
} else {
content.style.display = "block";
icon.className = 'ri-arrow-up-s-line';
}
}
	</script>
	{% include '_partials/footer.html.twig' %}

{% endblock %}

