.content {
    background-color: #fefefe;
    gap: 10px;
    width: 80%;
    display: flex;
    border-radius: 10px;
    margin: 50px auto;
}
.btn-select-agency {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #474fa0;
    border: 1px solid #474fa0;
    font-size: 1.2rem;
}
.btn-select-online {
    width: 100%;
    background-color: #fe5b3e;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.btn-select-online:hover {
    background-color: #474fa0;
}
.btn-select-agency:hover {
    border: 2px solid #474fa0;
    font-size: 1.3rem;
}