{% extends 'base.html.twig' %}

{% block title %}Welcome to Car Rental{% endblock %}

{% block body %}
    <div id="title">
        <h1>Welcome to Car Rental</h1>
    </div>
    <div id="app">
        <!-- Vue.js will mount here -->
    </div>
{% endblock %}
